{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/core.css' %}">
{% endblock extra_css %}


{% block content %}

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">
            Допомагаємо тваринам знайти люблячу родину
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Pawlink об’єднує притулки, волонтерів і людей, які хочуть допомагати
            тваринам. Знайдіть нового друга, підтримайте перевірений притулок
            або зробіть внесок у потреби тварин.
          </p>
        </div>
      </div>

{% endblock %}
