{% load static django_bootstrap5 %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pawlink | Допомога тваринам</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- HEADER -->
    {% include '_layouts/header.html' %}
    <!-- NAVIGATION -->
    {% include '_layouts/navbar.html' %}

    <main class="container">
        <!-- DJANGO MESSAGES -->
        {% if messages %}
            <div class="mt-3" aria-live="polite" aria-atomic="true">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Закрити повідомлення"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock %}
    </main>

    <!-- FOOTER -->
    {% include '_layouts/footer.html' %}

    <!-- jQuery Plugins -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>
</html>
